<h1> New User Page </h1>
<h2> Please fill out the following information</h2>
<hr>
<%=form_with model: @user do |f| %>
    <%=f.label :username%>
    <%=f.text_field :username%>
    <br><br>
    <%=f.label :password%>
    <%=f.password_field :password%><br>
    <%=f.submit "Create Profile"%>
<%end%>

