<h1>Index page for all products</h1>
<% @products.each do |product|%>
    <li><%=link_to product.name, product%><br><%=product.price%></li>
<%end%>
    



<%=link_to image_tag("https://www.zdnet.com/a/hub/i/2015/05/29/2b2418b3-3361-49fe-954e-4ad7853d2dfe/t-mo-lg450.jpg")%>
<br>

<%=link_to image_tag("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4Av4g?ver=dbe4")%>
<br>

<hr>
<%=link_to image_tag("https://slack-imgs.com/?c=1&o1=ro&url=http%3A%2F%2Fwww.integrated2011.org%2Fwp-content%2Fuploads%2F2017%2F10%2Fbzsjhshjsshjshsshshsh-300x228.jpg")%>
<br>
